$white: #fff !default;
$gray-100: #f8f9fc !default;
$gray-200: #eaecf4 !default;
$gray-300: #dddfeb !default;
$gray-400: #d1d3e2 !default;
$gray-500: #b7b9cc !default;
$gray-600: #858796 !default;
$gray-700: #6e707e !default;
$gray-800: #353942 !default;
$gray-900: #3a3b45 !default;

$blue: #3E69E0 !default;
$indigo: #502bcc !default;
$purple: #543EE0 !default;
$pink: #df456e !default;
$red: #df4545 !default;
$orange: #EAB41E !default;
$yellow: #FFCA00 !default;
$green: #b4ea1e !default;
$teal: #45DFB6 !default;
$cyan: #45a1df !default;
$black: darken(desaturate($indigo, 80%), 40%) !default;

$primary: $indigo;
$secondary:	$blue;
$success:	$green;
$info:	$green;
$warning:	$orange;
$danger: $black;
$light:	lighten($blue, 80%);
$dark:	$black;
$theme-colors:
  (
      "primary": $primary,
      "secondary": $secondary,
      "success": $success,
      "info": $info,
      "warning": $warning,
      "danger": $danger,
      "light": $light,
      "dark": $dark
  );

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

$btn-font-weight: bold !default;

$input-bg: $secondary !default;
$input-color: $white !default;
$input-border-color: transparent !default;
$input-btn-focus-width: 0;
$input-focus-border-color: transparent !default;
$input-focus-bg: saturate($secondary, 25%) !default;
$input-placeholder-color: $light !default;

$dropdown-bg:                    $dark !default;
$dropdown-border:                $info !default;
$dropdown-fallback-border:       $info !default;
$dropdown-divider-bg:            $info !default;
$dropdown-link-color:            $info !default;
$dropdown-link-hover-color:      $info !default;
$dropdown-link-hover-bg:         $dark !default;
$dropdown-link-active-color:     $info !default;
$dropdown-link-active-bg:        darken($primary, 25%) !default;
$dropdown-link-disabled-color:   $gray-500 !default;
$dropdown-header-color:          $gray-500 !default;

$custom-range-track-height:         .5rem !default;
$custom-range-track-bg:             $secondary !default;
$custom-range-thumb-width:                   1.1rem !default;
$custom-range-thumb-bg:                      $info !default;
$custom-range-thumb-active-bg:               saturate($primary, 10%) !default;
$custom-range-thumb-border:                  2px solid $light !default;
