$white: #fff !default;
$gray-100: #f8f9fc !default;
$gray-200: #eaecf4 !default;
$gray-300: #dddfeb !default;
$gray-400: #d1d3e2 !default;
$gray-500: #b7b9cc !default;
$gray-600: #858796 !default;
$gray-700: #6e707e !default;
$gray-800: #5a5c69 !default;
$gray-900: #3a3b45 !default;
$black: #4A4453 !default;

$blue: #006EFE !default;
$indigo: #6610f2 !default;
$purple: #6945DF !default;
$pink: #df456e !default;
$red: #df4545 !default;
$orange: #deb245 !default;
$yellow: #f6c23e !default;
$green: #BBDF45 !default;
$teal: #45DFB6 !default;
$cyan: #36b9cc !default;

$primary:	$pink;
$secondary:	$purple;
$success:	$green;
$info:	$cyan;
$warning:	$orange;
$danger:	$red;
$light:	$gray-100;
$dark:	$gray-800;
$theme-colors:
  (
      "primary": $primary,
      "secondary": $secondary,
      "success": $success,
      "info": $info,
      "warning": $warning,
      "danger": $danger,
      "light": $light,
      "dark": $dark
  );
