// Define variable defaults
$body-bg: #161616;
$body-color: #161616;

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import './_cvariables.scss';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

// Bootstrap overwrites

.dropdown-toggle:focus{
  box-shadow: none !important;
  border: none;
  outline: none;
}

.invalid-feedback {
  color: $white;
  margin: 0 0 0 -$spacer;
  padding-bottom: $spacer * .3;
  padding-right: $spacer * 0.5;
  text-align: right;
}
.invalid-feedback::before {
  content: '*';
}

.b-form-tag-content {
  font-size: 1.3em;
}
.b-form-tags-input, .b-form-tags-input::placeholder, .b-form-tags small {
  color: $input-placeholder-color !important;
}
.b-from-tags-field {
  width: 100%;
}

// Custom helper classes

.pointer {
  cursor: pointer;
}
.cursor-busy {
  cursor: progress;
}

.hoverable:hover, .faded {
  opacity: .8;
}

.shadow-text {
  text-shadow: 0 2px 4px #000000;
}
