// Define variable defaults
$body-bg: #fff;
$body-color: #111;

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import './_cvariables.scss';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

// Bootstrap overwrites

.dropdown-toggle:focus{
  box-shadow: none !important;
  border: none;
  outline: none;
}

// Custom helper classes
.hoverable:hover {
  filter: saturate(1.2);
}
