// Define variable defaults
$body-bg: #fff;
$body-color: #111;

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import './_cvariables.scss';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

// Bootstrap overwrites

.dropdown-toggle:focus{
  box-shadow: none !important;
  border: none;
  outline: none;
}

.invalid-feedback {
  color: $white;
  margin: 0;
  padding-right: $spacer * 2.5;
  text-align: right;
  position: absolute;
}
.invalid-feedback::before {
  content: '*';
}

.b-form-tags-input, .b-form-tags-input::placeholder, .b-form-tags small {
  color: $input-placeholder-color !important;
}
.b-from-tags-field {
  width: 100%;
}

// Custom helper classes

.hoverable:hover, .faded {
  opacity: .9;
}
